body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f0f2f5, #e0e7ff);
    color: #333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
}

.header {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    transition: transform 0.3s;
}


.title {
    color: #1a237e;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.description {
    color: #5f6368;
    font-size: 1.2rem;
    line-height: 1.8;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.button {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.login {
    background-color: #007bff;
    padding: 12px 25px;
}

.signup {
    background-color: #007bff;
    padding: 12px 25px;
}

.signup:hover {
    background-color: #007bff;
}

@media (max-width: 768px) {
    .header {
        max-width: 90%;
    }

    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .button {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}